#all{
	margin-left: 30%;
	margin-right: 30%;
}
.test {
  color: blue;
}

#img {
	background-color: grey;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
}
#info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
}
.hidden {
	color: grey;
}
#info *{
	margin-left: 3px;
	margin-right: 3px;
}
#tags{
	font-style: italic;
	color: grey;
	font-size: 1vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
#tags div{
	margin: 2px;
}
.bold{
	font-weight: bold;
	cursor: pointer;
}
#genre{
	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	align-items: center;
  	font-size: 1vw;
}
#bio{
	border: solid 1px grey;
	margin-top: 5px;
	min-height: 20px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #888888;
}

.distance {
	font-size: 0.7em;
}
